<header class="z-99 width-full bg-gray-dark">
  <div class="d-md-flex flex-justify-end">
    <div class="navbar hero-margin lh-condensed py-1 d-md-inline-flex">
      <ul class="d-flex flex-wrap flex-justify-center flex-md-justify-end flex-items-center list-style-none ml-0 pr-md-4">
        <li class="text-right">
          <details class="dropdown details-reset details-overlay">
            <summary aria-haspopup="true" class="btn btn-outline px-2 Switcher">
              {% include octicon_globe_svg.html %} Language
              <div class="dropdown-caret"></div>
            </summary>
            <ul class="dropdown-menu dropdown-menu-sw text-right">
              <li>
                <a class="dropdown-item py-2" href="/es">Español</a>
              </li>
              <li>
                <a class="dropdown-item py-2" href="/">Português</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <div class="d-flex flex-wrap flex-justify-between flex-md-justify-end hero-margin py-md-2 navigation mt-3">
        <a class="text-white px-md-4" href="https://www.facebook.com/womendevsummit">
          <i class="lni lni-facebook-filled"></i>
          Facebook
        </a>
        <a class="text-white px-md-4" href="https://twitter.com/womendevsummit">
          <i class="lni lni-twitter-filled"></i>
          Twitter
        </a>
        <a class="text-white px-md-4" href="https://www.instagram.com/womendevsummit">
          <i class="lni lni-instagram-filled"></i>
          Instagram
        </a>
      </div>
    </div>
  </div>
</header>
